// Settings to be used with vuetify base components
@forward 'vuetify/settings' with (

  // default button SASS variables for vuetify
  $button-font-size: 16px,
  $button-font-weight: 600,
  $button-text-letter-spacing: .1px,
);
